@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300|Pacifico');

.background{
    background-image: url('../../assets/background__rose-pattern.jpg');;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.ui{
    width:  80%;
    height: 80%;
    background-color: #a63939;
    color: rgb(253, 211, 250);
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    box-shadow: 5px 4px 3px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

[type="number"]{
    background-color: rgb(255, 239, 254);
    color: #a63939;
    text-align: center;
    height: 15%;
    width: 15%;
    font-size: 2.5rem;
    font-family: 'Pacifico', cursive;
    border: none;
}

