.flexContainer__col{
    display: flex;
    margin: 5px auto;
    flex-direction: column;
    width: 95vw;
    height: 90vh;
    align-items: center;
    background-color: #a63939;
    background-color: #a63939;
    color: rgb(253, 211, 250);
    font-size: 1.3rem;
    border-radius: 10px;
}

h3{
    margin: 1.2rem 0 0.8rem 0;
}

h1, h5{
    margin: 0.3rem;
}

.grid {
    margin: 5px auto;
    display: grid;
    grid-template-rows: 15vh;
    grid-template-columns: 19vw 19vw 19vw 19vw 19vw;
    grid-template-areas: "header header header header header";
    grid-auto-rows: 30vh;
    grid-auto-columns: minmax(auto, 19vw);
    background-color: rgb(253, 211, 250);
    justify-items: center;
    align-items: center;
}

.mainImg{
    max-height: 70vh;
    max-width: 72vw;
}

.otherLosersHeader{
    grid-area: header;
    font-size: 2rem;
    color: #a63939;
}

.eliminationHeader{
    margin: 2rem;
}