.flexContainer__row3Players{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 5vh;
    max-width: 75%;
    margin: 3px;
    border: black solid;
}

.flexContainer__row4Players{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 5vh;
    max-width: 95%;
    margin: 3px;
    border: black solid;
}

.awful{
    background-color: rgba(151, 12, 23);
}

.poor{
    background-color: rgba(151, 12, 23, 0.1);
}

.poor:hover,
.active.poor{
    background-color: rgba(151, 12, 23);
}


.average{
    background-color: rgba(151, 12, 23, 0.1);
}

.average:hover,
.active.average{
    background-color: rgba(151, 12, 23);
}

.good{
    background-color: rgba(151, 12, 23, 0.1);
}

.good:hover,
.active.good{
    background-color: rgba(151, 12, 23);
}

.excellent{
    background-color: rgba(151, 12, 23, 0.1);
}

.excellent:hover,
.active.excellent{
    background-image: url('../../assets/background__flame-on.jpg');
    background-size: cover;
}