.button__rating{
    min-height: 4.04vh;
    width: 5.15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    border: none;
}

.button__rating:hover{
    background-image: linear-gradient(rgba(199, 131, 194, 0.5), rgba(199, 131, 194, 0.5));
    cursor: pointer;
}
