.grid{
    display: grid;
    grid-template-columns: 47vw 47vw;
    grid-template-rows: 90vh 5vh;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas:    "imageOne imageTwo"
                            "footer footer";
    justify-content: center;
    align-items: center;
    background-color: #a63939;
    height: 100vh;
    width: 100vw;
    background-image: url('../../assets/background__rose-pattern.jpg');
    background-repeat: none;
    background-size: cover;
}

.imageOne{
    grid-area: imageOne;
    border-radius: 8px;
    background-color: rgb(44, 9, 9);
}

.imageTwo{
    grid-area: imageTwo;
    border-radius: 8px;
    background-color: rgb(44, 9, 9);
}

footer{
    grid-area: footer;
    text-align: center;
}

.modalBackground {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal {
    display: block;
    justify-content: space-around;
    position: fixed;
    top: 12vh;
    left: 2.5vw;
    height: 70vh;
    width: 95vw;
    z-index: 100;
    background-color: #a63939;
    color:  rgb(255, 239, 254);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
}

h1{
    margin: 1rem;
}

.modalFlexContainer{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    height: 25vh;
    width: 70vw;
}

.modalImage{
    border-radius: 8px;
    background-color: rgb(44, 9, 9);
    max-height: 20vh;
    max-width: 30vw;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
}
